@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap");
/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  margin: 0;
  background-color: #25076b;

  color: white;
}

*:focus {
  outline: none;
}

#error {
  color: red;
}

.left {
  width: 100%;
  height: 100vh;
  flex: 1;
  background-color: #46178f;
  overflow-y: auto;
}

.right {
  width: 100%;
  height: 100vh;
  flex: 2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow-y: auto;
}

.write {
  display: flex;
}

.write .input {
  flex:3;
  background-color: white;
}

.write .submit {
  flex: 1;
  margin-top: 0;
}

.main-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.messages {
  list-style-type: none;
  text-align: left;
}

#login,
#register,
#welcome {
  transition: 1s;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

form {
  width: 100%;
}

.form-input {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  background-color: #864cbf;
  border-radius: 4px;
  border: 0px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 15px;
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
}

#chat {
  width: 100%;
}

input:hover,
input:focus {
  background-color: #c2a5df;
  color: black;
}

.submit {
  cursor: pointer;
  margin-top: 10px;
}

@media screen and (max-width: 1150px) {
  .main-container {
    flex-direction: column;
    overflow: scroll;
  }
}
